@import './bootstrap_hux.scss';
@import './bootstrap/bootstrap.scss';
@import './media.scss';
@import './fonts.scss';
body {
  font-family: 'Roboto', sans-serif;
}
h1,
.h1 {
  font-weight: 500;
}
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}
.text-dashed {
  border-bottom: dashed 1px;
}
